:root{
    --primary-text-color:#757575;
    --title-text-color: #212121;
    --accent-color:#2196F3;
    --background-color: #FFFFFF;
    --background-color-second: #F5F4FA;
    --background-color-futer: #2F303A;
    --color-logo: #000000;

}
body{
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

/* 
#EEEEEE - колір background в картинок в портфоліо
#FFFFFF60% колір text в футер: тел і милo
#ECECEC - колір background header в середині
*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Утіліти */
.list{
    padding: 0;
    margin: 0;
list-style: none;
}
.linka{
    text-decoration: none;
}

/* header-all */
.header-all{
    display: flex;
    align-items: center;
}
/* container */
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    /* outline: 4px solid tomato; */
    /* background-color: blueviolet; */
}

/* Header */


.header{
    
    background-color: var(--background-color);
    border-bottom: 1px solid #ECECEC ;

}
.logo{
    color:#000000;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}
.logo-web{
    color: #2196F3;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
/* site-nav */

.site-nav{
    display: flex;
    margin-left: 93px;
}


.site-nav .item + .item{
    margin-left: 50px;
}

.site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    text-decoration: none;

}


.site-nav .link:hover, 
.site-nav .link:focus{
    color: var(--accent-color);
}

.site-link .current{
color: var(--accent-color);
}

/* contacts-nav */
.contacts-nav{
    display: flex;
    margin-left: auto;
}
.contacts-nav .item + .item{
    margin-left: 50px;
}


.contacts-nav .link{
    color: var(--primary-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.2;
text-decoration: none;
}
.contacts-nav .link:hover, 
.contacts-nav .link:focus{
    color: var(--accent-color);
}


/* Замовити послугу Hero */
/* .title-hero{
padding-top: 94px;
} */

.service-title{
    width: 696px;
    margin: 0 auto;
    /* margin-top: 0; */
    margin-bottom: 30px;
color: #FFFFFF;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
}
.hero{
    max-width: 1600px;
    height: 600px;
    /* background-color: #2F303A ; */
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../images/css_images/hero/Img.jpg);
    text-align: center;
    padding: 200px 0;
    background-repeat: no-repeat;
    background-position: center;


}

/* button */
.button{
    min-width: 216px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
border-radius: 4px;
padding: 10px 32px;
color: var(--background-color);
background-color: var(--accent-color);
font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.06em;
cursor: pointer;


